.card-component {
  /* width: 270px; */
  min-height: 130px;
  max-height: 400px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.card-top-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px;
  margin-top: 10px;
}
.card-component p {
  padding: 20px;
  /* overflow: hidden; */
}

.card-component-caption-input {
  width: 75%;
}
.icons-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #c2c7d3;
}
.icon {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 6%;
}
/* .card-component a {
  text-decoration: none;
  color: #c2c7d3;
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 6%;
} */

.icon:hover {
  color: black;
  cursor: pointer;
}
.icon-info {
  margin-left: 10px;
}
