.activity_icon {
  font-size: 84%;
  color: white;
  background-color: #00d781;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 12px;
  margin-right: 20px;
}
.activity_icon_task {
  font-size: 84%;
  color: white;
  background-color: #fcac2d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 12px;
  margin-right: 20px;
}
.activity_icon_edit_task {
  font-size: 105%;
  color: white;
  background-color: #8e67f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
}
