.bg {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/signin-signup-bg.gif);
}
.signin {
  position: relative;
  top: 15vh;
  left: 38.5vw;
  width: 25vw;
  height: 70vh;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 2px 2px rgba(0, 0, 255, 0.2);
  border: 2px solid rgba(0, 0, 255, 0.2);
  align-items: center;
  /* justify-content: center; */
}
.signin-button {
  border-style: none;
  padding: 10px 40px;

  margin-bottom: 10%;
  margin-top: 10%;
}
.signin-button:hover {
  background-color: rgba(0, 0, 255, 0.2);
}
.title {
  margin-top: 4rem;
}
.input {
  border: solid 0.3px #c2c7d3;
  border-radius: 5px;

  text-align: center;
  padding: 10px 25px;
  margin: 10px;
}
