* {
  box-sizing: border-box;
  margin: 0;
}
.card-creator {
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  /* align-self: center; */
}
.cardcreator-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 18px;
}
.card-creator h4 {
  color: black;
}
.card-creator button {
  background-color: hsl(257, 81%, 70%);
  color: white;
  border: none;
  padding: 10px;
  font-size: 120%;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 15px 18px;
}
.card-creator button:hover {
  background-color: hsl(257, 92%, 66%);
}
.card-creator h6 {
  font-size: 110%;
  font-weight: 600;
}

.card-creator form {
  display: flex;
  flex-direction: column;
}
.card-creator input {
  margin: 0px 18px;
  min-height: 100px;
  border-radius: 10px;
  border: solid 0.1px #c2c7d3;
}
.card-creator input::placeholder {
  position: relative;
  font-size: 120%;
  bottom: 20px;
  padding: 12px;
}
.card-creator select {
  margin: 20px 18px;
  border: solid 0.1px #c2c7d3;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}
