* {
  box-sizing: border-box;
  margin: 0;
}
.card-creator {
  width: 270px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-self: center;
}
.card-creator button {
  background-color: hsl(257, 81%, 70%);
  color: white;
  border: none;
  width: 95%;
  padding: 10px;
  font-size: 120%;
  /* font-weight: 500; */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.card-creator button:hover {
  background-color: hsl(257, 92%, 66%);
}
.card-creator input {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: solid 0.1px #c2c7d3;
}
