/* .project-component {
  background-image: url("../../images/bg.png");
  object-fit: cover;
  background-repeat: no-repeat;
} */

.status-cols {
  display: flex;
  flex-direction: row;
}
.project-component-sub {
  margin-left: 25px;
  margin-right: 25px;
}
