.status-cols {
  display: flex;
  flex-direction: row;
}
.project-component-sub {
  margin-left: 25px;
  margin-right: 25px;
}
.project-component-modal {
  position: absolute;
  top: 20%;
  left: 25%;
}
