.status-cols {
  display: flex;
  flex-direction: row;
}
.below-navbar {
  display: flex;
  flex-direction: row;
}
.project-component-sub {
  width: 86%;
  margin-left: 25px;
  margin-right: 25px;
}
.project-component-modal {
  position: absolute;
  top: 20%;
  left: 25%;
}
.side-bar {
  /* width: 14%; */
  height: 92vh;
  border-left: 1px solid #c2c7d3;
}
