.statuscol-col {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 12px;
  margin-right: 12px;
}

.statuscol-col .add-card {
  text-decoration: none;
  color: #747474af;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}
.statuscol-col .add-card:hover {
  color: black;
}
.statuscol-col h4 {
  font-weight: 500;
}
.loader {
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}
