.com-single {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #c2c7d3;
  padding: 10px;
}
.com-profile {
  font-size: 250%;
  align-self: center;
  color: #4267b2;
}
.com-info {
  margin-left: 20px;
}
.com-name {
  font-size: 90%;
  font-weight: 500;
}
.com-timestamp {
  font-size: 70%;
  display: flex;
}
.com-timestamp-clock-icon {
  display: flex;
  align-self: center;
  color: #525252;
  margin-right: 2px;
}
.com-timestamp-time {
  display: flex;
  align-self: center;
  color: #525252;
}

.com-comment {
  margin-top: 7px;
}
